html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.widthimg {
  width:400px;
}
#bg {
  position: fixed;
  top: 0;
  display: none; /* Cela masquera le canvas */
  left: 0;
  max-width: 100%;
  min-height: 100%; /*very important for display 100% background.*/
  }
/*for animation*/
.sectionskills {
  opacity: 0;
filter: blur(3px); /*portrait*/
transform: translateX(-100%);
transition:  all 1s;
width: 100%;
}
.sectionacompli {
opacity: 0;
filter: blur(3px); /*portrait*/
transform: translateX(-100%);
transition:  all 1s;
width: 90%;
}
.mypresent {
  opacity: 0;
  filter: blur(3px); /*portrait*/
  transform: translateX(-100%);
  transition:  all 1s;
}
.bloc {
  text-align: center;
  white-space: nowrap; /* Empêche le texte de sauter à la ligne */
  opacity: 0;
  filter: blur(3px); /*portrait*/
  transform: translateX(-100%);
  transition:  all 1s;
}
.show {
opacity: 1;
filter: blur(0);
transform: translateX(0);
transition : all 1s;
}
/*for animation*/

:root {
--dark-bg: rgba(15, 15, 15, 0.95);
--spacing: 350px;
font-family: brandon-grotesque, sans-serif;
font-weight: 400;
font-style: normal;
}
section.sectionskills {
  position: relative;
  grid-column: 1 / 8; /* 6/12 = a droite  */
  background: var(--dark-bg);
  border: 3px solid gray;
  margin-left: 5vw;
  font-size: 2rem;
  margin-bottom: var(--spacing);
}
section.sectionacompli {
  height: 92%;
  border: 3px solid gray;
  margin-left: 30vw;
  grid-column:  1/ 9; /* 6/12 = a droite  */
  background: var(--dark-bg);
  font-size: 2rem;
  margin-bottom: var(--spacing);
}
.sectionacompli {
  overflow: hidden; /* Ajout de l'overflow caché */
}
.sectionskills h1,h4 {
  overflow: hidden; /* Ajout de l'overflow caché */
}
main {
width: 100%;
color: white;
z-index: 99;
position: absolute;
margin: 0px auto;
padding: 120px 0px;
display: grid;
grid-template-columns: repeat(12, 1fr);
}
h1, h2, h3, blockquote {
font-family: elevon, sans-serif;
font-weight: 600;
font-style: normal;
}
.my_resume {
display: flex;
}
.mypresent { 
padding: 2rem;
background: var(--dark-bg);
border: 3px solid gray;
font-size: 2.25rem;
line-height: 2.5;
}
  .mypresent p {
    margin: 0;
padding: 0;
word-wrap: break-word;
  }
  nav#myacomp , nav#myeduc , nav#myskils  , nav#myacomp , nav#mydownload  {
    color: white;
    transition: background-color 0.3s; /* Animation de transition pour le fond */
    width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 10px; /* Ajustez la valeur selon vos préférences */
  }
  nav:hover {
    transform: scale(1.1); /* Ajustez la valeur pour l'effet de survol souhaité */
  }
  header {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .myqr {
    height: 20vh;
  }
    .myqr img {
      padding: 1rem;
      border: 2px solid #060606;
      border-radius: 0.5rem;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease-in-out;
    }
    .myqr:hover {
      transform: scale(1.05);
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    }
  .sectionacompli h1,h2,h4 {
    margin: 0;
    padding: 0;
  }
  .hid h2,h3,h4 {
    margin: 0;
    padding: 0;
  }
  header nav {
    margin-top: 1vh;
    color: white;
    max-width: 100%;
  }
.acompli {
display: flex;
gap: 15px;
justify-content: center;
flex-direction: column;
align-items: center;
}
section.present {
  margin-left: 4vw;
  display: flex;
  gap:20vw;
  margin-top: -2vh;
  grid-column: 2 / 7; /*ybda f 2 ykhlass f 6*/
  margin-bottom: var(--spacing);
  }
/* Appliquer un style à l'image */

#textcert {
display: flex;
justify-content: center;
font-size: 40px;
background: -webkit-linear-gradient(top, rgb(191, 0, 255), rgb(207, 207, 214));
}
.showme {
  color: blueviolet;
}
.fotrcert {
display: flex;
justify-content: center;
gap: 8%;
}
.fotrcert > div { /* > siginie les enfants direct du fotrcert */
  width: 25vw;
}
.fotrcert img {
  width: 90%;
}
footer.cert {
  display: flex;
  width: 100%;
  justify-content: center;
}
.acomp {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.coverweb {
  height: 1000px;
  justify-content: center;
  align-items: center;
  gap:15px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
  .sectionacompli .coverweb img  {
    max-width: 100%; /* Make the images responsive */
    height: 200px; /* Maintain aspect ratio */
    width: 300px;
    display: flex;
    opacity: 0.7; /* Rend l'assombrissement opaque au survol */
  }
  .coverweb img:hover  {
    transform: scale(1.1); /* Ajustez la valeur pour l'effet de survol souhaité */
    opacity: 100; /* Rend l'assombrissement opaque au survol */
    transition: filter 0.3s; /* Transition pour l'effet de survol */
  }
  .sectionacompli .coverweb h2  {
    max-width: 100%; /* Make the images responsive */
    height: auto; /* Maintain aspect ratio */
  }
blockquote {
  position: relative;
  margin: 0;
  padding: 0;
  grid-column: 2 / span 8;
  margin-bottom: var(--spacing);
}
blockquote p {
  color: black;
  background-color: white;
  font-size: 5rem;
  display: inline;
  line-height: 1;
}
.left {
  grid-column: 6 / 12;
  border: 3px solid gray;
}
.fotrgap {
  height: 100%;
  display: flex;
  gap: 20px;
}
section.dernierediv {
  display: flex;
  width: 10%;
  margin-top: 100px;
  height: 100%;
  align-items: flex-end;
  flex-direction: row-reverse;
  gap: 50px;
}
.mousg {
  display: flex;
  width: 100%;
}
.stylethanks {
  background-color:white;
  height: 10px;
  width: auto;
  display: inline;
  white-space: nowrap;
  font-size: 4rem;
  line-height: 1;
  font-family: elevon, sans-serif;
font-weight: 600;
font-style: normal;
}
blockquote .footer {
  display: flex;
  width: 100%;
}

@media screen and (min-width: 1050px) { /* de 1050px et + il s'aplique ca*/
.present {
  white-space: nowrap; /* Appliquer nowrap uniquement lorsque l'écran dépasse 1300px */
  grid-column: 2 / 7; /*ybda f 2 ykhlass f 6*/
}
}
@media screen and (min-width:100px) and (max-width:600px) {
  section.dernierediv {
    margin-top: -10vh;
    align-items: flex-start;
    margin-left: -120vw;
  }
  .bloc p {
    display: flex;
    justify-content: center;
    bottom: 30vh;
    font-size: 0.7rem;
    width: auto;
    margin-left: -60%;
  }
}
@media screen and (min-width:100px) and (max-width:800px) {
  #animation {
    width: 100px; /* Remplacez 300px par la valeur de largeur souhaitée */
  }
  img#mygreet {
    height: 80%;
  }
}
@media screen and (max-width: 490px) {
  .hid h2,h3,h4,p {
    font-size: 1rem;
    overflow: hidden; /* Ajout de l'overflow caché */
  }
  .sectionacompli h1,h2,h4,p {
    font-size: 0.8rem;
    overflow: hidden; /* Ajout de l'overflow caché */
  }
  div#textcert {
    font-size: 10px;
  }
}
nav {
  flex: 1;
  text-align: center;
  min-width: 200px;
  margin: 5px;
}
.animation {
  position: relative;
  margin-right: 15vw;
}
div#tag {
  position: relative;
  left:65%;
  top: 5%;
}
.myqrunder {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width:100px) and (max-width:500px) {
  section.sectionacompli {
    margin-left: -1vw;
  }
  div#tag {
    position: relative;
    left:-44vh
}
}
@media screen and (min-width:500px) and (max-width:1000px) {
  .fotrgap {
    margin-bottom: 30vh;
  } 
 
  section.dernierediv {
    position: relative;
    margin-left: -48vw;
  }
  div#tag {
    position: relative;
    left:-50vh
}
}
img#mygreet {
  background-size: auto;
}
.bloc p {
  font-size: 3rem;
  display: flex;
  min-width: 100%;
  justify-content: center;
}
.conteneur {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%; /*very important for display 100% background.*/
}
.conteneur video {
  position: fixed;
  min-width: 100%;
  min-height: 100%; /*very important for display 100% background.*/
}

@media screen and (min-width: 100px) and (max-width: 1000px) {
  canvas#bg {
    width: 100vw;
  }
  .sectionacompli h1,h4 {
    font-size: 0.9rem;
    overflow: hidden; /* Ajout de l'overflow caché */
  }
}
div.edcplusthanks {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap:-50px;
}
blockquote.bloc {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 100px) and (max-width: 700px) {
  blockquote.bloc {
    margin-left: -10vw;
  }
}
/* Media Query pour les écrans de petite taille */
@media screen and (max-width: 1000px) {
  section.present {
    grid-column: 1/7;
  }
  .myqr {
    display: none;
  }
  section.sectionacompli {
    width: 260px;
    position: relative;
    grid-column: 1/8;
    top:-30vh;
    height: 92%;
    margin-left: 6vw;
  }
  section.sectionskills {
    width: 240px;
    bottom: 70vh;
  }
  .sectionskills h3,h5,h2  {
    font-size: 0.9rem;
  }
  .sectionacompli h2 {
    font-size: 0.9rem; /* Adjust font size as needed */
  }
  .bloc p {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 30vh;
    font-size: 0.6rem;
    width: 100%;
  }
  header {
    flex-direction: column; /* Passer à une disposition verticale pour les petits écrans */
    align-items: center;
    max-width: 40vh;
  }
  .mypresent h1,p  {
    font-size: 1rem;
    padding: 0;
  }
  blockquote p {
    color: black;
    background-color: white;
    margin-left:-13vw;
    width: 0;
  } 
}